MINING_AGENT_OFFLINE=false
MINING_AGENT_STRICT_CITATIONS=true
MINING_AGENT_TIMEOUT_SECONDS=30
MINING_AGENT_PDF_URL=https://cdn.financialreports.eu/financialreports/media/filings/65576/2026/RNS/65576_rns_2026-08-23_c3d18a66-1f27-477f-92de-45222c0b4f78.pdf
